body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --speed: 700ms;
  --primary-text-color: #132f48;
  --light-blue: #0096ff;
  --white: #ffffff;
}

section {
  display: flex;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  display: flex;
  padding: 0;
}

li {
  list-style: none;
  font-size: 14px;
  white-space: pre;
}

header {
  display: flex;
  justify-content: center;
}

article {
  padding-top: 135px;
}

img {
  width: 100%;
}
a {
  color: var(--hover-color);
  text-decoration: none;
  opacity: 0.5;
}
a:hover {
  color: var(--hover-color);
  opacity: 1;
}
a:visited {
  color: var(--hover-color);
  text-decoration: none;
}

/*****************
  Header Container
******************/

.container {
  width: 100%;
  background-color: white;
  position: fixed;
  transition: height var(--speed) ease-in;
  height: 135px;
}
.container.collapsed {
  animation: slideup var(--speed) ease-in;
  animation-fill-mode: forwards;
  transition: height var(--speed) ease-in;
  height: 80px;
}

@keyframes slideup {
  from {
    transform: translateY(1);
  }
  to {
    transform: translateY(-20px);
  }
}

/*****************
  Primary Header
******************/
.primary {
  position: fixed;
  display: flex;
  max-width: 930px;
  min-width: 576px;
  justify-content: space-between;
  width: 100%;
  padding-top: 28px;
  background-color: white;
}

.text-logo {
  margin-left: 5px;
  animation: logo-slide-down var(--speed) ease-in;
  animation-fill-mode: forwards;
}

.text-logo.collapsed {
  animation: logo-slide-up var(--speed) ease-in;
  animation-fill-mode: forwards;
}

@keyframes logo-slide-up {
  0% {
  }
  100% {
    transform: translateY(-150%);
  }
}

@keyframes logo-slide-down {
  0% {
    transform: translateY(-150%);
  }
  100% {
  }
}

/*****************
    Secondary Header
******************/
.secondary {
  position: fixed;
  top: 58px;
  padding: 10px;
  max-width: 930px;
  min-width: 576px;
  width: 100%;
  animation: slide-down-menu var(--speed) ease-in;
  animation-fill-mode: forwards;
}

.secondary.collapsed {
  animation: slide-up-menu var(--speed) ease-in;
  animation-fill-mode: forwards;
}

@keyframes slide-up-menu {
  from {
  }
  to {
    transform: translate(35px, -50px);
  }
}

@keyframes slide-down-menu {
  from {
    transform: translate(35px, -50px);
  }
  to {
  }
}

/*****************
    Topic Item
******************/
li.topic-item a {
  padding: 10px 20px;
  font-size: 14px;
  color: var(--primary-text-color);
  opacity: 0.5;
}

li.topic-item:hover a {
  color: var(--primary-text-color);
  opacity: 1;
}

.dropdown-item {
  color: var(--primary-text-color);
  opacity: 0.5;
  position: relative;
  padding-right: 10px;
}

.dropdown-item:hover {
  color: var(--primary-text-color);
  opacity: 1;
  cursor: pointer;
}

.dropdown-item span {
  position: absolute;
  top: 8px;
  left: 48px;
}

.topic-item {
  opacity: 1;
  transition: opacity var(--speed) ease-in;
}

.topic-item.fade-out {
  opacity: 0;
  transition: opacity var(--speed) ease-in;
}

li.topic-item.fade-out:hover {
  opacity: 0;
  cursor: default;
}

.topic-item.fade-out > a:hover {
  opacity: 0;
  cursor: default;
}

/****************** 
    Register Button
*******************/
.registeration-btn {
  border: none;
  outline: none;
  padding: 13px;
  border-radius: 25px;
  color: var(--white);
  display: flex;
  cursor: pointer;
  background: var(--light-blue) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000001a;
  border-radius: 54px;
  opacity: 1;
  font-size: 16px;
  cursor: pointer;
}

.registeration-btn p {
  margin: 1px 7px;
  color: white;
}

/********************
    Search Box
*********************/

.search-box-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-box {
  background: #e6ecf0 0% 0% no-repeat padding-box;
  border-radius: 60px;
  opacity: 1;
  width: 189px;
  display: flex;
  padding: 6px;
  margin-right: 20px;
  cursor: pointer;
  animation: expand var(--speed) ease-in;
  animation-fill-mode: forwards;
}

.search-box.collapsed {
  animation: shrink var(--speed) ease-in;
  animation-fill-mode: forwards;
  padding: 3px;
}

.search-box-input {
  border: none;
  background: #e6ecf0;
  width: 100%;
}

.search-box-input:focus {
  outline: none;
  border: none;
  background: #e6ecf0;
}

.search-box.collapsed .search-box-input {
  display: none;
}

.search-box .search-icon {
  padding-top: 1px;
  padding-left: 11px;
  transform: translateY(5px);
}

.search-box.collapsed .search-icon {
  padding-left: 20px;
  animation: icon-expand var(--speed) ease-in calc(var(--speed) / 2);
  animation-fill-mode: forwards;
  transform: translateY(5px);
}

@keyframes icon-expand {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(8);
  }
}

@keyframes expand {
  from {
    transform-origin: right;
    transform: scaleX(0.15);
  }
  to {
    transform-origin: right;
    transform: scaleX(1);
  }
}

@keyframes shrink {
  from {
    transform-origin: right;
    transform: scaleX(1);
  }
  to {
    transform-origin: right;
    transform: scaleX(0.15);
    border-radius: 50%;
  }
}

.vertical-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
