body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --bg: #ffffff;
  --nav-size: 60px;
  --border: 1px solid grey;
  --border-radius: 8px;
  --speed: 700ms;
  --light-blue: #0096ff;
  --topic-bar-color: #0096ff;
  --primary-text-color: #132f48;
  --white: #ffffff;
}

.registeration-btn {
  border: none;
  outline: none;
  padding: 13px;
  border-radius: 25px;
  color: var(--white);
  display: flex;
  cursor: pointer;
  background: var(--light-blue) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000001a;
  border-radius: 54px;
  opacity: 1;
  font-size: 16px;
  cursor: pointer;
}

.registeration-btn p {
  margin: 1px 7px;
  color: white;
}