body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --bg: #ffffff;
  --nav-size: 60px;
  --border: 1px solid grey;
  --border-radius: 8px;
  --speed: 700ms;
  --light-blue: #0096ff;
  --topic-bar-color: #0096ff;
  --primary-text-color: #132f48;
  --white: #ffffff;
}

/****************** 
  Register Button
*******************/
.registeration-btn {
  border: none;
  outline: none;
  padding: 13px;
  border-radius: 25px;
  color: var(--white);
  display: flex;
  cursor: pointer;
  background: var(--light-blue) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000001a;
  border-radius: 54px;
  opacity: 1;
  font-size: 16px;
  cursor: pointer;
}

.registeration-btn p {
  margin: 1px 7px;
  color: white;
}

/********************
    Search Box
*********************/

.search-box {
  background: #e6ecf0 0% 0% no-repeat padding-box;
  border-radius: 60px;
  opacity: 1;
  width: 189px;
  display: flex;
  padding: 6px;
  margin-right: 20px;
  cursor: pointer;
  animation: expand var(--speed) ease-in;
  animation-fill-mode: forwards;
}

.search-box.collapsed {
  animation: shrink var(--speed) ease-in;
  animation-fill-mode: forwards;
}

.search-box-input {
  border: none;
  background: #e6ecf0;
  width: 100%;
}

.search-box-input:focus {
  outline: none;
  border: none;
  background: #e6ecf0;
}

.search-box.collapsed .search-box-input {
  display: none;
}

.search-box .search-icon {
  padding-top: 1px;
  padding-left: 11px;
}

.search-box.collapsed .search-icon {
  padding-left: 20px;
  animation: icon-expand var(--speed) ease-in calc(var(--speed) / 2 );
  animation-fill-mode: forwards;
}

@keyframes icon-expand {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(8);
  }
}

@keyframes expand {
  from {
    transform-origin: right;
    transform: scaleX(0.15);
  }
  to {
    transform-origin: right;
    transform: scaleX(1);
  }
}

@keyframes shrink {
  from {
    transform-origin: right;
    transform: scaleX(1);
  }
  to {
    transform-origin: right;
    transform: scaleX(0.15);
    border-radius: 50%;
  }
}
